<nav class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
           <a  class="navbar-brand">Recipe Book</a>
       </div>

       <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
               <li routerLinkActive="active"><a routerLink="/recipes" style="cursor: pointer;" *ngIf="isAuthenticated">Recipe</a></li>
               <li routerLinkActive="active"><a routerLink="/auth" style="cursor: pointer;" *ngIf="!isAuthenticated">Autheniticate</a></li>
               <li routerLinkActive="active"><a routerLink="/shopping-list" style="cursor: pointer;">Shooping List</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
               <li><a style="cursor: pointer;" *ngIf="isAuthenticated" (click)="OnLogout()">Logout</a></li>
               <li class="dropdown" *ngIf="isAuthenticated" app-dropDown>
                   <a style="cursor: pointer;" class="dropdown-toggle" role="button">Mange<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a style="cursor: pointer;" (click)="OnSave()">Save</a></li>
                       <li><a style="cursor: pointer;" (click)="OnFetch()">Fetch Data</a></li>
                   </ul>
               </li>
           </ul>
       </div>
    </div>
</nav>
